<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1 class="text-center">
        Praktische Übung konfigurieren
    </h1>
</div>

<div class="container">
    <form method="post">
        <br>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="h4" for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name" value="PÜ 1">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label class="h4">Gruppenmodus</label>
            <div class="container">
                <input type="radio" id="individual" name="modus" value="0" checked="checked">
                <label for="individual">Individual</label>
            </div>
            <div class="container">
                <input type="radio" id="gruppe" name="modus" value="1">
                <label for="gruppe">Gruppe</label>
            </div>
        </div>

        <br>

        <div class="row">
            <label class="h4">Anmeldestart:</label>

            <div class="form-group col-md-3">
                <input class="form-control" type="date" id="anmeldestartdatum" name="anmeldestartdatum" value="2021-03-03">
            </div>

            <div class="form-group col-md-3">
                <input class="form-control" type="time" id="anmeldestartzeit" name="anmeldestartzeit" value="12:30">
            </div>
        </div>

        <br>

        <div class="row">
            <label class="h4">Anmeldeschluss:</label>

            <div class="form-group col-md-3">
                <input class="form-control" type="date" id="anmeldeschlussdatum" name="anmeldeschlussdatum" value="2021-03-03">
            </div>

            <div class="form-group col-md-3">
                <input class="form-control" type="time" id="anmeldeschlusszeit" name="anmeldeschlusszeit" value="12:30">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="form-group col-md-3">
                <label for="minPersonen" class="h4">Mindestgruppengröße:</label>
                <input class="form-control" type="number" id="minPersonen" name="minPersonen" value="3" min="0">
            </div>

            <div class="form-group col-md-3">
                <label for="maxPersonen" class="h4">Maximalgruppengröße:</label>
                <input class="form-control" type="number" id="maxPersonen" name="maxPersonen" value="5" min="0">
            </div>
        </div>

        <br>

        <input type="submit" class="btn btn-success" value="Konfiguration abschließen">

    </form>

    <div class="container">
        <label class="h4">Zeitslots:</label>

        <hr>

        <table class="table">
            <tr>
                <th>Zeit</th>
                <th>Tutoren</th>
                <th>Löschen</th>
            </tr>

            <tr th:each="zeit : ${config.zeitslots}">
                <td th:text="${zeit.zeitFormattiert()}"></td>
                <td th:text="${zeit.name}"></td>
                <td>
                    <form th:action="@{/tutorenZeitLoschen/} + ${zeit.id}" method="post">
                        <input type="submit" class="btn btn-danger" value="X">
                    </form>
                </td>
            </tr>
        </table>

        <hr>
    </div>

    <div class="container">
        <form method="post" action="/tutorenZeitHinzufugen">
            <div class="row">
                <label class="h4">Zeit:</label>

                <div class="form-group col-md-3">
                    <input class="form-control" type="date" id="slotDatum" name="slotDatum">
                </div>

                <div class="form-group col-md-3">
                    <input class="form-control" type="time" id="slotZeit" name="slotZeit">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="h4" for="tutorenName">Tutor:</label>
                    <input class="form-control" type="text" id="tutorenName" name="tutorenName">
                </div>
            </div>

            <br>

            <input type="submit" class="btn-primary" value="Tutor hinzufügen">

        </form>
    </div>
</div>

</body>
</html>