<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Tutorenansicht</title>
</head>
<body>
<div class="container">
    <ul>
        <li th:each="eintrag : ${tutorenWoche}"><span th:text="${eintrag.key} + ${eintrag.value}"> </span></li>
    </ul>
    <!--<table class="table">
        <thead>
        <tr>
            <td>Zeit</td>
            <td>Montag</td>
            <td>Dienstag</td>
            <td>Mittwoch</td>
            <td>Donnerstag</td>
            <td>Freitag</td>
        </tr>
        </thead>
         <tbody>
        <tr th:each="eintrag : ${tutorenWoche}">
            <td><span th:text="${eintrag.}"></span></td>
            <td th:each="tag : ${eintrag.getDaysOfWeek()}">
                <span th:if="${eintrag.isAssignedOn(tag,)}">X</span>
            </td>
        </tr>
        </tbody>

    </table> -->


</div>


</body>
</html>